body {
  margin: 0;
  font-family: "amatic bold";
  src: url("fonts/AmaticSC-Bold.ttf");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:"futuralight";
  font-weight:normal;
  font-style: normal;
}
